* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 900;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  scroll-behavior: smooth;

  &::selection {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    background-color: rgba(247, 227, 255, 1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 0.5rem black;

    div {
      width: 100%;
      max-width: 1200px;
      display: flex;
      padding: 0 50px;
      align-items: center;
      justify-content: space-between;
    }
  }

  h1 {
    margin: 0;
    font-size: 44px;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    color: white;
    cursor: pointer;
    width: 120px;
    height: 50px;
    background: #4c4a4a;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    border-radius: 100px;
    position: relative;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);

    span {
      text-shadow: 0.5px 0.5px #000000;
    }
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 40px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    // background: lightgreen;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 60px;
  }

  #soundboard-container {
    margin-top: 40px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      border-radius: 30px;
      height: 350px;
      width: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      img {
        width: 90%;
        height: 60%;
        object-fit: cover;
        border-radius: 30px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
      }

      .card-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40%;
        width: 100%;
      }

      h2 {
        font-size: 20px;
      }

      button {
        margin: 10px 0;
        width: 60%;
        height: 50px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
        font-size: 18px;
        font-weight: 900;
        background-color: lightgreen;
        border-radius: 20px;
        transition: ease-in-out 0.15s;
        cursor: pointer;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 24px;
          transition: ease-in-out 0.3s;
          height: 100%;
        }

        &:hover {
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

audio {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  body {
    h1 {
      // font-size: 62px;
    }
  }
}

@media only screen and (max-width: 850px) {
  body {
    h1 {
      font-size: 32px;
    }
  }
}

@media only screen and (max-width: 680px) {
  body {
    nav {
      div {
        justify-content: center;
      }
    }
    h1 {
      display: none;
      width: 0px;
      overflow-x: hidden;
    }
  }
}
